.image-editor {
   width: 100vw;
   height: 100vh;
   background-color: wheat;
   border-radius: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.card {
   padding: 25px;
   width: 700px;
   height: 80%;
   background-color: azure;
   box-shadow: 0 8px 16px 0 rgb(201, 201, 201);
   border-radius: 8px;
}

.card-header {
   text-align: center;
   padding-bottom: 15px;

   h2 {
      text-transform: uppercase;
      font-weight: bold;
      color: rgb(61, 9, 77);
   }
}

.card-body {
   display: flex;
   justify-content: center;
   .sidebar {
      .side-body {
         width: 250px;
         height: 300px;
         border: 1px solid tomato;
         margin-right: 10px;
         padding: 10px;
         span {
            font-size: 15px;
            color: rgb(127, 177, 162);
            text-transform: uppercase;
            font-weight: bold;
            margin-bottom: 10px;
            display: block;
            text-align: center;
         }
         .filter-keys {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;
            button.active{
               background-color: tomato;
               color: #fff;
            }
            button{
               padding: 9px;
               cursor: pointer
               ;
               background-color: blanchedalmond;
               outline: none;
               border-radius: 10px;


            }
         }
      }
   }
}
